<link rel="stylesheet" href="/css/footer.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<footer class="footer">
  <p class="footer-title">
    "Seja mais forte do que sua desculpa." <br />-Autor desconhecido
  </p>
  <div>
    <a
      href="https://github.com/ds-jp"
      target="_blank"
      rel="noopener noreferrer"
      class="icons"
    >
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/ds-jp/"
      target="_blank"
      rel="noopener noreferrer"
      class="icons"
    >
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </div>
  <p class="footer-title">2023 FriendlyWaddle Fitness.</p>
</footer>
