<head>
  <title>FriendlyWaddle Fitness</title>
  <link rel="stylesheet" href="/css/header.css" />
</head>
<header class="header">
  <div class="header-div">
    <div class="logo">
      <img src="/images/logo.png" alt="Logo FriendlyWaddle Fitness" />
      <h1 class="header-title">
        <span class="txt-red">FriendlyWaddle</span>
        <span>Fitness</span>
      </h1>
      <ul>
        <li><a href="#">Página 1</a></li>
        <li><a href="#">Página 2</a></li>
        <li><a href="#">Página 3</a></li>
      </ul>
    </div>
  </div>
</header>
