<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>FriendlyWaddle Fitness</title>
  </head>
  <body>
    <h1>Bem-vindo ao FriendlyWaddle Fitness!</h1>
    <p>Nome: {{ name }}</p>
  </body>
</html>
