<!-- conteudo/equipe.html -->
<p class="equipe-text">
  Este projeto é desenvolvido por <span>João Pedro</span>, um aluno de
  Engenharia de Software da UTFPR-CP que recentemente desenvolveu interesse no
  campo do condicionamento físico e bem-estar. O objetivo deste projeto da
  disciplina de Programação Web 2 é criar uma plataforma que ofereça suporte e
  recursos para ajudar os usuários a alcançarem seus objetivos de forma saudável
  e eficiente.
</p>

<p class="equipe-text">
  Para conhecer mais sobre o desenvolvedor do projeto, você pode visitar os
  seguintes perfis:
</p>
<ul class="equipe-list">
  <li>
    <a
      href="https://github.com/ds-jp"
      target="_blank"
      rel="noopener noreferrer"
      class="equipe-link"
    >
      <i class="fab fa-github fa-2x"></i> GitHub
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/ds-jp/"
      target="_blank"
      rel="noopener noreferrer"
      class="equipe-link"
    >
      <i class="fab fa-linkedin fa-2x"></i> LinkedIn
    </a>
  </li>
</ul>
