<h2>Tecnologias Utilizadas:</h2>
<ul>
  <li><i class="fab fa-html5"></i> Front-end: HTML, CSS, JavaScript</li>
  <li><i class="fab fa-node-js"></i> Back-end: Node.js, Express.js</li>
  <li><i class="fas fa-database"></i> Banco de Dados: SQLite</li>
</ul>

<h2>Bibliotecas Utilizadas:</h2>
<ul>
  <li><i class="fas fa-cog"></i> dotenv</li>
  <li><i class="fas fa-cog"></i> express</li>
  <li><i class="fas fa-cog"></i> mustache</li>
  <li><i class="fas fa-cog"></i> mustache-express</li>
  <li><i class="fas fa-cog"></i> nodemailer</li>
  <li><i class="fas fa-cog"></i> sequelize</li>
  <li><i class="fas fa-cog"></i> sqlite3</li>
</ul>
