<head>
  <title>FriendlyWaddle Fitness</title>
  <link rel="stylesheet" href="/css/header.css" />
</head>
<header class="header">
  <div class="header-div">
    <a href="/">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Logo FriendlyWaddle Fitness" />
        <h1 class="header-title">
          <span
            ><span class="txt-red">FriendlyWaddle</span> <br /><span
              class="txt-white"
              >Fitness</span
            >
          </span>
        </h1>
      </a>
    </a>
    <div class="items-div">
      <div class="items">
        <ul>
          <li><a href="/">Página inicial</a></li>
          <li><a href="#">Exercícios</a></li>
          <li><a href="#">Saúde e bem-estar</a></li>
        </ul>
        <ul>
          <li><a href="#">Tecnologias e ferramentas</a></li>
          <li><a href="#">Conheça a Equipe</a></li>
          <li><a href="/saiba-mais">Saiba mais</a></li>
        </ul>
      </div>
    </div>
      <a href="#" class="contato">
        <div class="contato">
          <span>Entre em contato</span>
          <i class="far fa-envelope fa-2x"></i>
        </div>
      </a>
    </div>
  </div>
</header>
