.container {
  padding: 20px;
}

.main {
  border-radius: 8px;
  border: 1px solid rgba(168, 25, 25, 0.5);
  background-color: gray;
  box-shadow: 0 4px 8px rgba(168, 25, 25, 0.5);
  padding: 40px;
}

.main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.equipe-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.equipe-text span {
  text-shadow: 0 0 4px rgba(168, 25, 25, 0.5);
}

.equipe-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.equipe-list li {
  margin-bottom: 10px;
  border: 1px solid rgba(168, 25, 25, 0.5);
  box-shadow: 0 4px 8px rgba(168, 25, 25, 0.5);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.equipe-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.equipe-link i {
  margin-right: 5px;
}
