.header {
  background-color: black;
  color: white;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.contato {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.contato span {
  margin-right: 8px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 15px;
  margin-right: 25px;
}

.items-div {
  width: 100%;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  width: 50px;
  margin-right: 2.5px;
}

.header-title {
  font-size: 18px;
  margin-right: 10px;
}

.txt-red {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ul li a {
  color: white;
  text-decoration: none;
}
