<h2>Descrição do Projeto</h2>
<p>
  O projeto tem como foco principal o condicionamento físico, saúde e bem-estar
  dos usuários. Através da plataforma, eles têm acesso a dicas valiosas sobre
  exercícios, nutrição e um estilo de vida saudável. O objetivo é auxiliar os
  usuários a alcançarem seus objetivos com segurança e eficiência,
  proporcionando uma experiência completa e enriquecedora.
</p>
<h2>Recursos Planejados:</h2>
<ul>
  <li>
    CRUD de Usuários: Os usuários podem criar contas utilizando e-mail e senha.
    Através da conta, eles têm acesso a funcionalidades como o CRUD de
    Exercícios.
  </li>
  <li>
    CRUD de Exercícios: Os usuários podem criar, visualizar, atualizar e excluir
    exercícios, registrando detalhes como nome, descrição, nível de dificuldade,
    etc. Os exercícios são categorizados para facilitar a navegação e pesquisa.
  </li>
  <li>
    Tabela de Categorias: É utilizada por ambas as funcionalidades de CRUD
    (exercícios) para categorizar e organizar os conteúdos relacionados.
  </li>
</ul>
<p>
  Com essas funcionalidades, o projeto oferece aos usuários uma experiência
  completa e enriquecedora, auxiliando-os a melhorar seu desempenho físico e
  mental.
</p>
