{{> layout}}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<head>
  <link rel="stylesheet" href="/css/tecnologias.css" />
</head>

<div class="container">
  <div class="main">
    <h1>Tecnologias e bibliotecas utilizadas no FriendlyWaddle Fitness!</h1>
    {{> ./conteudo/tecnologia}}
  </div>
</div>
